@import "/src/app/shared/scss/_variables.scss";

@mixin flexContent {
  display: flex;
}

.container {
  display: flex;
  background-color: $primary-color;
  height: 100vh;

  .side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    //border: 1px solid black;

    -webkit-box-shadow: 4px 2px 4px -1px rgba(34, 34, 34, 0.88);
    -moz-box-shadow: 4px 2px 4px -1px rgba(34, 34, 34, 0.88);
    box-shadow: 4px 2px 4px -1px rgba(34, 34, 34, 0.88);

    gap: 1rem ;
    padding: .5rem .5rem .5rem;

    a {
      text-align: center;
      line-height: 2.3;
      width: 80%;
      height: 2rem;

      border: solid 1px #797777;
      border-radius: .5rem;
      text-decoration: none;
      color: #fff;

    }
      a:hover {
        background: #696767;
        transition: 0.3s;
      }
  }

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

