<div class="app">
    <div class="left-features">
        <app-left-features></app-left-features>
    </div>
    <div class="main">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="router-content">
            <router-outlet></router-outlet>
        </div>

    </div>
    <div class="right-features">

        <app-footer></app-footer>
    </div>
</div>

<div class="flex">
<!-- <video autoplay muted loop class="background">
    <source src="../assets/videoplayback.webm" type="video/webm">
</video> -->
<img src="../assets/6ec47dbc37518038a3527e128cb147b2.jpg"  alt="" class="background">

</div>
