<div class="container">
    <div class="content">
        <section class="section">
            <div class="item">
                <span>
                    Data de cadastro: {{ 'datacadastro' }}
                </span>
            </div>
            <div class="item">
                <span>
                    Nick-name: {{ 'datacadastro' }}
                </span>
            </div>
            <div class="item">
                <span>
                    Email: {{ 'datacadastro' }}
                </span>
            </div>
        </section >
        <section class="section">
            
        </section>
        <section class="section">
            
        </section>
    </div>
</div>