h1 {
  width: 100%;
  text-align: center;
}

form {
  mat-form-field:first-child {
      margin: 1rem 0;
  }
}

.mat-dialog-content {
  margin-top: 1rem;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 40%;
  }
}
