/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding: 0;
}


/* Alterar cor do Mat-menu, também pode ser no scss local, com ::ng-deep + class name

.mat-menu-panel.drop-button {
  background-color: red;
}
 */
