@import "/src/app/shared/scss/_variables.scss";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding: 0;
}

@import '@angular/material/theming';

@include mat-core();

$my-primary: mat-palette($mat-gray, 900);
$my-secondary: mat-palette($mat-blue-gray);
$my-warn: mat-palette($mat-red);

$my-theme: mat-dark-theme($my-primary, $my-secondary, $my-warn);

@include angular-material-theme($my-theme);


.snack-report {
  background-color: $primary-color;
  bottom: 5rem !important;
  color: white;
}

