mat-toolbar {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;

    .social-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-right: 2rem;
        cursor: pointer;
    }

    .creator {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            padding: 0;
            a {
                color: #666565;
                text-decoration: none;
            }
        }
    }
}
